.hidden {
    display: none;
}

.backscreen { /*배경에 이미지를 꽉채우고 싶으면 이미지에 이 클래스를 넣자. */
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

#greeting {
    font-size: 4em;
    color : white;
    text-shadow: 2px 2px 2px #000;
    text-align:center;
}

#quote {
    color:white;
    text-shadow: 2px 2px 2px #000;
    text-align:center;
}

#weather {
    color:white;
    text-shadow: 2px 2px 2px #000;
    text-align: center;

    
}

#clock {
    margin-top:1.5em;
    font-size: 8em;
    color: white;
    text-shadow: 2px 2px 2px #000;
    text-align:center;
}

#login-form {
    text-align:center;
}

#todo-form {
    text-align:center;
}

#todo-list {
    fons-size:2em;
    text-align:center;
    color:white;
    text-shadow: 2px 2px 2px #000;
    list-style: none;
}

